/* Variables */
/* colors */
$green_main: #67D53B;
$sky_main: #2DCFE3;
$yellow_main: #FDC830;
$textMuted: #E6E6E6;
$circleSize: 250px;
$gaugeMinHeight: 330px;

/* Util Styles */
.flexParent {
    display: -webkit-flex;
    display: flex;
}
//Goes together with .flexParent
.flexColumn {
    -webkit-flex-flow: column;
    flex-flow: column;
}
.flexBetween {
    justify-content: space-between;
}
.flexMiddle {
    justify-content: center;
    align-items: center;
}
.textMuted {
    color: darken($textMuted, 10%);
}
.spaceRight {
    margin-right: 10px;
}
.marginZero {
    margin: 0;
}
//Text color util classes
.textGreen {
    color: $green_main;
}
.textDarkGreen {
    color: darken($green_main, 30%);
}
.textBlue{
    color: $sky_main;
}
.textDarkBlue {
    color: darken($sky_main, 30%);
}
.textYellow{
    color: $yellow_main;
}
.textDarkBlue {
    color: darken($yellow_main, 30%);
}
.textBig {
    font-size: 2em;
}




/* Gauge Styles */
#main_container {
    padding: 30px;
    .gauge_main {
        height: auto;
        min-height: $gaugeMinHeight;
        margin: 15px 0;
        .gauge__circle {
            width: $circleSize;
            height: $circleSize;
            border-width: 10px;
            border-style: solid;
            border-radius: 50%;
            margin: 0 auto;
        }
        .gauge__info {
            height: calc(#{$gaugeMinHeight} - #{$circleSize}); // Very nice approach of interpolation
            border-bottom: 1px solid $textMuted;
        }
    }
}
