/* Variables */
/* colors */
$green_main: #67D53B;
$sky_main: #2DCFE3;
$yellow_main: #FDC830;
$textMuted: #E6E6E6;
$circleSize: 250px;
$gaugeMinHeight: 330px;

/* Util Styles */
.flexParent {
    display: -webkit-flex;
    display: flex;
}
//Goes together with .flexParent
.flexColumn {
    -webkit-flex-flow: column;
    flex-flow: column;
}
.flexBetween {
    justify-content: space-between;
}
.textMuted {
    color: darken($textMuted, 10%);
}
.spaceRight {
    margin-right: 10px;
}
//Text color util classes
.textGreen {
    color: $green_main;
}
.textDarkGreen {
    color: darken($green_main, 30%);
}
.textBlue{
    color: $sky_main;
}
.textDarkBlue {
    color: darken($sky_main, 30%);
}
.textYellow{
    color: $yellow_main;
}
.textDarkBlue {
    color: darken($yellow_main, 30%);
}





/* Gauge Styles */
.gauge_main {
    height: auto;
    min-height: $gaugeMinHeight;
    .gauge__circle {
        width: $circleSize;
        height: $circleSize;
        border: 10px solid darken($green_main, 30%);
        border-radius: 50%;
        margin: 0 auto;
    }
    .gauge__info {
        height: calc(#{$gaugeMinHeight} - #{$circleSize}); // Very nice approach of interpolation
        border-bottom: 1px solid $textMuted;
    }
}
